.heading, .h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, .display-4, .text-muted {
    letter-spacing: 0;
}


.notification-counter {
    position: relative;
    top: -20px;
    right: 27px;
}

.notification-icon{
    font-size: 1.5em;
}

.section-profile-cover{
    height: 400px;
}

.skills-badge{
    position: relative;
    top: 2px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
  }

.sec{
    position: relative;
    right: 10px;
    top:-22px;
}

.counter.counter-lg {
    top: -12px !important;
}
