.heading, .h1, .h2, .h3, .h4, .h5, .h6, .display-1, .display-2, .display-3, .display-4, .text-muted {
  letter-spacing: 0;
}


.profile-image-container {
    position: relative;
    width: 100%;
  }
  
  .profile-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .profile-image-middle-button {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .profile-image-container:hover .profile-image {
    filter: blur(2px);
  }
  
  .profile-image-container:hover .profile-image-middle-button {
    opacity: 1;
  }
  
  .button-text {
    /* background-color: #4CAF50; */
    color: white;
    font-size: 48px;
    /* padding: 16px 32px; */
  }

  .list-group-item.active {
    background-color: white;
  }

  div.custom-control-right {
    padding-right: 24px;
    padding-left: 0;
    margin-left: 16px;
    margin-right: 0;
  }
  div.custom-control-right .custom-control-label::before,
  div.custom-control-right .custom-control-label::after{
    right: -1.5rem;
    left: initial;
  }

  .notification-counter {
    position: relative;
    top: -20px;
    right: 27px;
}

.notification-icon{
    font-size: 1.5em;
}


